<div class="jumbotron">
    <h1>Implement Web Api for creating user and his phone subscriptions.</h1>
    <p class="lead">
        <ul>
            <li>The logic for getting/writing data from/to DB should be in a separate WCF service.</li>
            <li> Database can be MS SQL Server or MS SQL Server Express.</li>
            <li> Client will POST/GET/PUT/DELETE data to Web Api, Web Api will connect to WCF service to write/read data from database.</li>
        </ul>
    </p>
</div>

